.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile {
  background-color: rgb(247, 206, 234);
  color: rgba(0, 0, 0, 0.781);
}
.filler {
  padding: 30px;
  background: url("https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}
.home {
  padding: 200px;
  background: url("https://images.unsplash.com/photo-1581898975010-1446955616ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: auto;
}
.container {
  position: relative;
  color: pink;
  display: inline;
}
.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2248%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: pink;
}
.textCard {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.click {
  background-color: rgb(90, 187, 182);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.textbox2 {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgb(168, 167, 167);
  color: white;
}
.textbox {
  font-family: inherit;
  float: left;
  font-size: 250%;
  margin: 0;
  overflow: visible;
  letter-spacing: inherit;
  line-height: inherit;
  outline-offset: -2px;
  flex-grow: 1;
  width: 90%;
  background: none;
  border: none;
  color: rgb(201, 42, 116);
  background-color: teal;
  box-sizing: border-box !important;
  padding-left: 12px;
  padding-bottom: 20px;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
